<ion-app>
  <ion-content>
    <ion-button class="hidden-large" (click)="showModal()">Tijdsregistratie toevoegen</ion-button>
    <ion-card class="hidden-small display-landscape">
      <ion-card-header>
        <ion-card-title>Tijdregistratie toevoegen</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row (keyup.enter)="save()">
            <ion-col>
              <ion-item>
                <ion-label position="floating">Persoon</ion-label>
                <ion-input #persoonInput [(ngModel)]="registratieFormulier.persoon"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Project</ion-label>
                <ion-input [(ngModel)]="registratieFormulier.project"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Activiteit</ion-label>
                <ion-input [(ngModel)]="registratieFormulier.activiteit"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Looncode</ion-label>
                <ion-input [(ngModel)]="registratieFormulier.looncode"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Duur</ion-label>
                <ion-input [(ngModel)]="registratieFormulier.duur"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Commentaar</ion-label>
                <ion-input [(ngModel)]="registratieFormulier.commentaar"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-button (click)="save()">Opslaan</ion-button>
            <ion-button (click)="toggleGrid()">Gebruik cards</ion-button>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <div class="hidden-large">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let registratie of registraties" size="12" size-xl="4">
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>{{ registratie.project }}</ion-card-subtitle>
                <ion-card-title>{{ registratie.persoon }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{ registratie.beschrijving }}
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-card class="hidden-small show-landscape">
      <table>
        <tr>
          <th>Persoon</th>
          <th>Project</th>
          <th>Activiteit</th>
          <th>Looncode</th>
          <th>Duur</th>
          <th>Commentaar</th>
        </tr>
        <tr *ngFor="let registratie of registraties">
          <td>{{ registratie.persoon }}</td>
          <td>{{ registratie.project }}</td>
          <td>{{ registratie.activiteit }}</td>
          <td>{{ registratie.looncode }}</td>
          <td>{{ registratie.duur }}</td>
          <td>{{ registratie.commnetaar }}</td>
        </tr>
      </table>
    </ion-card>
  </ion-content>
</ion-app>